# 当前环境(dev,test,gra,prd)
APP_ENV=dev

# 关闭csp浏览器拦截
SECURITY_HEADERS_ENABLED=false

# 是否开启异常捕获日志脱敏password,token等,生产环境建议开启
ENABLE_LOG_SANITIZE=false

#cron service debug配置,默认开启
CRON_DEBUG=true

#每个Agent机器节点的ID不同
CRON_NODE_ID=1
# 创建节点时返回的 apiKey，写入 Agent 环境变量
CRON_NODE_API_KEY=xxxx
# 定时删除7天前的cron_task_log
CRON_TASK_LOG_DELETE_DAY=7

# 登录token有效期,单位秒
AUTH_JWT_TTL=7200

#mysqL配置(需替换实际MySQL地址)
DB_HOST_NAME=127.0.0.1
DB_HOST_DATABASE=xxxxx
DB_USER_NAME=xxxx
DB_PASSWORD=xxxxx
DB_HOST_PORT=3306